send:
  name: Send Message
  description: Send an SMS message to a contact.
  fields:
    contact_id:
      name: Contact
      description: Select a contact to send message to.
      required: true
      example: "sensor.textnow_contact_1"
      selector:
        entity:
          domain: sensor
          filter:
            - integration: textnow
    message:
      name: Message
      description: Message text to send.
      required: true
      example: "Hello, this is a test message"
      selector:
        text:
          multiline: true
