name: Validate

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: HACS validation
        uses: hacs/integration@action
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

